.navbar {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    color: #FFFFFF;
    position: sticky;
    top:0;
    opacity: 0.9;
    z-index: 1;

    &__title {
        padding: 5px;
        font-size: 1.5em;
        font-family: 'Roboto Slab', serif;
    }

    &__buttons {
        padding: 6px;
        display: flex;

        .navbar__buttons__kaupa {
            width: 50%;
            font-size: 1em;
            overflow: initial;
        }

        .navbar__buttons__um{
            padding-right: 15px;
            background-color:#333;
            border: 1px solid #333;
        }
    }
}

/*
    <div class="top-bar">
        <div class="top-h1">
            <h1>Fooþjónusta</h1>
        </div>
        <div class="top-buttons"><button class="button kaupa">Kaupa</button>
            <a href="um.html" class="button">Um</a>
        </div>
    </div>
    */
