.profiles {
    display: flex;


    &__img {
        border-radius: 50%;
    }

    &__section {
        flex-direction: column;

        &__subTime {
            font-size: 0.8em;
            color: #7a8186;
        }

        &__text {
            margin: 10px;
            text-align: center;
        }

        h1 {
            font-size: 1.3em;
        }
    }
}
