@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
    /* stylelint-disable-line */
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*, *:before, *:after {
    /* stylelint-disable-line */
    box-sizing: inherit;
    /* fjarlægjum margin og padding */
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {
    html {
        margin: 0;
    }
}

img {
    /* stylelint-disable-line */
    max-width: 100%;
}

main {
    /* stylelint-disable-line */
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.fyrra {
  display:flex;
  flex-wrap: wrap;
}

.personu {
  display:flex;
  flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;

    &__profile {
        border-radius: 50%;
    }
}

.midrow {
    display: flex;
    flex-direction: row;
    float: right;
<<<<<<< HEAD

=======
>>>>>>> ac591ee8c6cd605a1365751fee9dfc125b6374d0
}

.col {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1em;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 66.66667%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333%;
}

.col-3 {
    width: 25%;
}

@media (max-width: 599px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-3 {
        width: 25%;
    }
}

.offset-2 {
    margin-left: 16.66667%;
}

@media (max-width: 599px) {
    .offset-sm-0 {
        margin-left: 0;
    }
}


.text__p {
    margin-bottom: 80px;
    margin-left: 40px;
}

.quote {
    padding: 2em;
    font-size: 1.5em;
}
.quote p {
    margin-left: 13px;
    font-size: 18px;
}

.grid-mid {
    margin-top: 40px;
}





@import "scss/navigator";
@import "scss/button";
@import "scss/grid";
@import "scss/textFade";
@import "scss/animations";
@import "scss/profiles";
@import "scss/upperfooter";
<<<<<<< HEAD
=======
@import "scss/headers";
>>>>>>> ac591ee8c6cd605a1365751fee9dfc125b6374d0
